@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
}
/* CSS HEADER START */

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header {
    width: 100%;
    height: 250px;
}
.pricecrypto-bar {
    width: 100%;
    height: 2rem;
    background-color: #c8c8c8;
}

.pricecrypto-bar li{
    display: inline;
    list-style: none;
    border: 1px solid black;
}

.pricecrypto-bar ul {
    text-align: center;
    padding-top: 0.4rem;
}

.pricecrypto-bar li + li {
    margin-left: 1.5rem;
}

.logo {
    padding: 30px 0;
}

.logo img {
    width: 200px;
    display: block;
    margin: auto;
}
.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    list-style: none;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
}

.menu a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    transform-origin: bottom right;
    background-color: #fcb74b;
}
.menu a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
/* CSS HEADER END */

/* CSS ARTICLES START */
.column-1 img{
    width: 100%;
}

.column-1{
    width: 50%;
    display: flex;

}

.column-2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.column-2 img {
    width: 100%;
}